/* RESET  */

* {
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    margin: 0px;
}

/* fine reset  */

.menu {
   text-decoration: none;
   color: black;
   font-size: 1.7em;
   background-color: red;
   display: inline-block;
   height: 1.3em;
   width: 1.3em;
   line-height: 1.3em;
   text-align: center;
   
}

.menu02 {
    display: inline-block;
    list-style-type: none;
    height: 4em;
    width:4em;
    border: 3px black solid;
    border-radius: 50%;
    text-align: center;
    line-height: 4em;
     background-color: green;  
    
}

ul {
    background-color: yellow; 
    
}

nav {
     background-color: blueviolet; 
}

header {
     background-color: blue; 
    position: fixed;
    top: 5vh;
    right: 10vh;
}
